
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.hideenscrollmain::-webkit-scrollbar {
  width: 0px;
  height: 100vh;
}
.hideenscrolltransaction::-webkit-scrollbar {
  width: 0px;
  height: 0vh;
}